body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}
.attribution { 
    padding: 10px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.attribution h2 {
    font-weight: 700;
}
.attribution p { 
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
.attribution img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 375px) {
    body {
        font-size: 12px;
    }
    .attribution img{
        max-width: 250px;
    }
}
